/POO/Final/Final/nbproject/private/
/POO/Final/Final/build/
/POO/Final/Ejercicio1/nbproject/private/
/POO/Final/Ejercicio1/build/
/POO/Final/Ejercicio2/nbproject/private/
/POO/Final/Ejercicio2/build/
/POO/Final/Ejercicio3/nbproject/private/
/POO/Final/Ejercicio3/build/